statemachines/collection-create-machine.yml
name: collectionCreationStateMachine-${self:service}-${opt:stage, self:provider.stage}
id: CollectionCreationStateMachine
definition:
  Comment: "Create a collection for a Brand or User"
  StartAt: Start
  States:
    Start:
      Type: Task
      Resource: 
        Fn::GetAtt: [collectionStart, Arn]
      Next: StartChoiceState
    StartChoiceState:
      Type: Choice
      Choices:
      - Variable: "$.hasWallet"
        StringEquals: "true"
        Next: EstimateFeesState
      - Variable: "$.hasWallet"
        StringEquals: "false"
        Next: Stop
    EstimateFeesState:
      Type: Task
      Resource: 
        Fn::GetAtt: [collectionEstimateFees, Arn]
      Next: EstimateChoiceState
    EstimateChoiceState:
      Type: Choice
      Choices:
      - Variable: "$.hasGas"
        StringEquals: "true"
        Next: CollectionDeployState
      - Variable: "$.hasGas"
        StringEquals: "false"
        Next: Stop
    CollectionDeployState:
      Type: Task
      Resource: 
        Fn::GetAtt: [collectionDeploy, Arn]
      Next: Stop
    Stop:
      Type: Task
      Resource: 
        Fn::GetAtt:
          - collectionStop
          - Arn
      End: true       
# notifications:
#   ABORTED:
#     - lambda: 
#         Fn::GetAtt: [collectionNotification, Arn]
#   FAILED:
#     - lambda: 
#         Fn::GetAtt: [collectionNotification, Arn]
#   RUNNING:
#     - lambda: 
#         Fn::GetAtt: [collectionNotification, Arn]
#   SUCCEEDED:
#     - lambda: 
#         Fn::GetAtt: [collectionNotification, Arn]
#   TIMED_OUT:
#     - lambda: 
#         Fn::GetAtt: [collectionNotification, Arn] 